* {
	font-family: courier
}

body {
	background-color: rgb(255, 252, 167);
}

h1, .subtitle {
	font-family: courier;
	text-align: left;
}

h1 {
	letter-spacing: .1em;
	margin: 35px 5px 10px 5px;
}

.subtitle {
	letter-spacing: .1em;
	margin: 0px 5px 15px 5px;
}

.designheading p {
	text-align: left;
	margin: 1px 30px 5px 30px;
}

.frontpagedesc {
	font-size: 15px;
	text-align: left;
	max-width: 60vw;
	/* margin:0 auto 22px auto; */
	font-variant: small-caps;
}

h2{

	font-family: courier;
	font-size: 20px;
	text-align:left;
	letter-spacing: 5px;
	margin: 15px 20px 20px 20px;
	color: red;
}
h3{
	font-family: courier;
	letter-spacing: 7px;
	font-size: 20px;
	margin: 0 20px 5px 40px
}
h4{
	font-family: courier;
	font-style: italic;
	font-size: 15px;
	margin: 0 20px 5px 40px
}

.art-page-grid-description p{
	margin: 10px 40px 5px 50px;
	line-height: 1.6;
	font-weight: lighter;
}

a.art-page-grid-top {
	font-family: courier;
	font-size: 20px;
	text-align:left;
	letter-spacing: 5px;
	margin: 15px 20px 20px 20px;
	color: red;
	font-weight: bold;
}


a {
	text-decoration: none;
}



.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: flex-start;
	/*border: solid 1px blue;*/
	max-width: 100%;
}

.section {
	/*border: solid 1px red;*/
	flex: 0 0 300px;
}

a.section {
	color:black;
}

.section:hover {
	color: red;
	cursor: pointer;
}

.section img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:90%;
	max-height:300px;
}

.caption{
	text-align: center;
	font-style: italic;
	margin: 10px 5px 20px 5px;
}

/* ART PAGE */

/*html, body {
	height: 100%;
	margin: 0;
}
*/
.art-page-grid {
	display: grid;
/*	grid-template-columns: minmax(250px, 1fr) minmax(250px, 2fr);*/
	/*border: solid 2px green;*/
	align-items: flex-start;
	margin: 0;
	padding: 0;
	min-height: 98vh;
 	grid-template-rows: auto;


/*	position: fixed;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
*/
/*	height: 100%
	min-height: 100%;
*/
}

.art-page-grid-top {
	grid-row: 1;
	grid-column: 1;
}

.art-page-grid-description {
	/*border: solid 2px red;*/
/*	grid-column: 1;
	grid-row: 2;*/
	grid-row: 2;
	flex: 1 1 35vw;
	min-width: 400px;
	max-width: 800px;
	margin-bottom: 20px;
}

.art-page-grid-right-flex {
	min-height: 90vh;
/*	grid-row: 2;
	grid-column: 2;*/
	flex: 1 1 60vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	/*border: solid 2px blue;*/
}

.art-page-outer-flex {
	min-height: 90vh
	grid-row: 2;
	grid-column: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	/*border: solid 2px yellow;*/
}


.art-page-image, .art-page-imagesmall {
	display: block;
	width: auto;
	max-width: 100%;
	max-height: 90vh;
	margin: 20px;
	flex: 0 1 auto;
}

.art-page-image {
	max-height: 90vh;
}

.art-page-imagesmall {
	max-height: 50vh
}

.art-page-imagesmall img {
/*	display: block;*/
	max-width: 100%;
	max-height: 45vh;
	object-fit: cover;
}

.art-page-image img {
/*	display: block;*/
	max-width: 100%;
	max-height: 85vh;
	object-fit: cover;
	/*border:solid 1px yellow;*/
	/*max-width:98%;*/
	/*position: relative;*/
	/*top: 0;*/
	/*left: 0;*/
}
.art-page-imagetall {
	grid-row: 2;
	flex: 0 1 auto;
	display: block;
	width: auto;
	max-width: 100%;
	margin-right: 20px;
	/*border: solid 1px blue;*/
}
.art-page-imagetall img {
max-width: 100%;
object-fit: cover;
}
.art-page-movie {
/*	display: block;*/
	flex: 1 1 auto;
	display: block;
	/*border: solid 1px blue;*/
	max-height: 85vh;
	object-fit: cover;
	/*max-width:98%;*/
	/*position: relative;*/
	/*top: 0;*/
	/*left: 0;*/
}
.art-page-movie iframe {
	/*border:solid 1px yellow;*/
	width:100%;
	min-height: 85vh
}